# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/

# Flask session files
flask_session/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

#datebase
instance/

# Other files
dfasckear